@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Open+Sans&family=Poppins:wght@200;400&display=swap');

*{
  font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

#nav-bar1 {
  background-color: #303030;
  position:sticky;
  top:0px;
}
#nav-bar1 > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 15px !important;
}
#nav-bar1 ul > li {
  padding-inline: 20px;
  font-size: 15px;
}
#nav-bar2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#nav-bar2 div {
  padding-inline: 15px;
}
#nav-bar2 div > img {
  display: flex;
  align-items: center;
  padding-inline: 10px;
}
#nav-bar2 div > p {
  margin: 0px;
}
/* hero section intro */
/* hero-intro1 which the section-2 contains differnt background color */
.hero-intro,
.hero-intro1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-intro1 {
  background: #000000;
}
.hero-text > p {
  text-align: center;
  margin: 0px !important;
}
.gradient-text,
.gradient-text1 ,
.gradient-text2{
  /* -webkit-background-clip: text;
    color: transparent;
    display: inline; */
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -3px;
}
.gradient-text {
  background: linear-gradient(
    90deg,
    #2ca2b4 0%,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}
.gradient-text1 {
  background: linear-gradient(180deg, #ffb6ff 0%, #b344ff 100%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}
.gradient-text2 {
  background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
  -webkit-background-clip: text;
  color: transparent;

}
.hero-text div > button {
  border: none;
  background-color: #0071e3;
  color: white;
  border-radius: 10px;
  width: 50px !important;
  height: 24px;
  padding: 0px !important;
}
.hero-text div > button:hover {
  box-shadow: 0px 0px 15px #0071e3;
}
.hero-intro2 > .left-content > .hero-text > p > span {
border:2px solid black;
padding:0px !important;
border-radius:9px;
}
.hero-intro3 {
  background-image: url('./assets/page4_img.svg');
  background-size:cover; 
  background-position: center; 
  width:100vw;
  height:100vh;
  margin-top:1vw;
}
.hero-intro3 .hero-text{
position: relative;
top:150px;
left:70px;
}
.hero-intro3 .hero-text h2, .hero-text h3{
  text-align:left;
  color:white;
  font-weight: 600;
}
.hero-intro3 .hero-text>button{
  border-style:none;
  border-radius:980px;
}
.hero-intro3 .hero-text>button:hover{
  box-shadow:0px 0px 5px whitesmoke;
}